.testimonial-card{
    background-color: #ffffff;
    width: 450px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 25px;
}

.testimonial-card img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.testimonial-author{
    font-weight: bold;
}

.testimonial-card p{
    font-style: italic;
}